In [55]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [56]:
# Take from https://stackoverflow.com/questions/37292872/how-can-i-one-hot-encode-in-python
# for one hot encoding 
# It does one_hot encoding and remove the original column for calculating similarity
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([original_dataframe, dummies], axis=1)
    res = res.drop([feature_to_encode], axis=1)
    return(res)

In [57]:
# User Data Generation

# Simulating a pandas dataframe for user/personalities with attributes like age and product interest etc.

def simulate_user_data(min_age, max_age, dict_items_brands, n = 100):
    # Unique user_id 
    list_id = [i for i in range(1, n + 1)]
    # Physical attributes
    list_age = np.random.randint(min_age, max_age, n)
    list_gender = np.random.choice(["M", "F"], n, p = [0.4, 0.6])
    # Interest attributes (last purchase = days)
    list_last_purchase = np.random.randint(1, 7, n)
    list_last_purchase_item = np.random.choice(list(dict_items_brands), n)
    # Brand preferences (If any!)
    list_brand_preference = [np.random.choice(dict_items_brands[key]) for key in list_last_purchase_item]
    # Browsing behaviour (time spent = mins)
    list_time_spent_on_browsing = np.random.randint(3, 180, n)
    
    # now using the list's, create a pandas df for the users
    user_df = pd.DataFrame(list(zip(list_id, 
                                   list_age,
                                   list_gender,
                                   list_last_purchase, 
                                   list_last_purchase_item, 
                                   list_brand_preference,
                                   list_time_spent_on_browsing,
                                   )), 
                          columns = ["user_id", 
                                     "age", 
                                     "gender", 
                                     "last_purchase_day",
                                     "last_purchase_item",
                                     "brand_preference",
                                     "average_time_spent_on_browsing"])
    return user_df
    

dict_items_brands = {"clothing" : ["nike", "addidas", "gucci", "levis", "calvin_klein"],
                     "shoes" : ["corcs", "addidas", "nike", "under_armour", "kenneth_cole"], 
                     "watches" : ["rolex", "omega", "titan", "seiko", "fossil"],
                     "accessories" : ["atheleisure", "addidas"],
                     "mobile_phones" : ["apple", "samsung", "motorola", "xiaomi"],
                     "tablets" : ["apple", "samsung", "motorola", "xiaomi", "fire"],
                     "car" : ["ford", "mercedes", "toyota"],
                     "sports" : ["nike", "addidas", "puma"]
                    }
user_df = simulate_user_data(15, 50, dict_items_brands, n = 200)

# To encode the categorical variables
features_to_encode = ['gender', 'last_purchase_item']
user_df_one_hot = user_df
for feature in features_to_encode:
    user_df_one_hot = encode_and_bind(user_df_one_hot, feature)

In [58]:
user_df_one_hot

,user_id,age,last_purchase_day,brand_preference,average_time_spent_on_browsing,gender_F,gender_M,last_purchase_item_accessories,last_purchase_item_car,last_purchase_item_clothing,last_purchase_item_mobile_phones,last_purchase_item_shoes,last_purchase_item_sports,last_purchase_item_tablets,last_purchase_item_watches
0,1,26,2,xiaomi,170,0,1,0,0,0,1,0,0,0,0
1,2,30,4,addidas,29,1,0,0,0,0,0,0,1,0,0
2,3,38,5,ford,156,1,0,0,1,0,0,0,0,0,0
3,4,40,6,toyota,85,1,0,0,1,0,0,0,0,0,0
4,5,41,5,nike,109,1,0,0,0,0,0,0,1,0,0
5,6,45,2,mercedes,69,1,0,0,1,0,0,0,0,0,0
6,7,32,3,atheleisure,159,0,1,1,0,0,0,0,0,0,0
7,8,43,1,puma,8,1,0,0,0,0,0,0,1,0,0
8,9,46,2,puma,169,0,1,0,0,0,0,0,1,0,0
9,10,20,2,addidas,39,0,1,0,0,0,0,0,1,0,0
10,11,33,1,rolex,41,1,0,0,0,0,0,0,0,0,1
11,12,28,2,mercedes,174,1,0,0,1,0,0,0,0,0,0
12,13,39,1,addidas,54,0,1,0,0,0,0,0,1,0,0
13,14,19,1,omega,106,0,1,0,0,0,0,0,0,0,1
14,15,16,5,xiaomi,143,1,0,0,0,0,1,0,0,0,0
15,16,24,6,toyota,159,1,0,0,1,0,0,0,0,0,0
16,17,21,5,titan,98,0,1,0,0,0,0,0,0,0,1
17,18,25,1,puma,70,1,0,0,0,0,0,0,1,0,0
18,19,21,5,nike,37,1,0,0,0,0,0,1,0,0,0
19,20,41,5,addidas,78,0,1,1,0,0,0,0,0,0,0
20,21,47,5,fire,135,0,1,0,0,0,0,0,0,1,0
21,22,41,3,atheleisure,162,1,0,1,0,0,0,0,0,0,0
22,23,41,4,puma,121,1,0,0,0,0,0,0,1,0,0
23,24,19,3,ford,166,1,0,0,1,0,0,0,0,0,0
24,25,24,3,addidas,157,0,1,0,0,1,0,0,0,0,0
25,26,17,4,nike,167,1,0,0,0,0,0,0,1,0,0
26,27,29,6,addidas,154,1,0,1,0,0,0,0,0,0,0
27,28,33,5,apple,18,1,0,0,0,0,0,0,0,1,0
28,29,47,1,gucci,110,1,0,0,0,1,0,0,0,0,0
29,30,27,6,atheleisure,112,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,171,37,2,addidas,114,0,1,0,0,0,0,0,1,0,0
171,172,46,6,toyota,115,1,0,0,1,0,0,0,0,0,0
172,173,29,1,calvin_klein,111,1,0,0,0,1,0,0,0,0,0
173,174,33,6,toyota,53,0,1,0,1,0,0,0,0,0,0
174,175,26,6,apple,107,1,0,0,0,0,1,0,0,0,0
175,176,18,2,xiaomi,21,1,0,0,0,0,1,0,0,0,0
176,177,32,4,nike,7,0,1,0,0,0,0,1,0,0,0
177,178,36,5,addidas,27,1,0,1,0,0,0,0,0,0,0
178,179,35,4,gucci,45,0,1,0,0,1,0,0,0,0,0
179,180,40,3,xiaomi,155,1,0,0,0,0,1,0,0,0,0
180,181,42,6,omega,29,1,0,0,0,0,0,0,0,0,1
181,182,49,4,xiaomi,42,1,0,0,0,0,0,0,0,1,0
182,183,40,4,omega,177,1,0,0,0,0,0,0,0,0,1
183,184,16,3,toyota,163,1,0,0,1,0,0,0,0,0,0
184,185,49,4,mercedes,82,1,0,0,1,0,0,0,0,0,0
185,186,39,5,corcs,82,1,0,0,0,0,0,1,0,0,0
186,187,17,5,nike,41,0,1,0,0,1,0,0,0,0,0
187,188,31,4,atheleisure,84,1,0,1,0,0,0,0,0,0,0
188,189,28,1,xiaomi,24,0,1,0,0,0,1,0,0,0,0
189,190,22,4,under_armour,169,0,1,0,0,0,0,1,0,0,0
190,191,17,2,addidas,55,0,1,0,0,1,0,0,0,0,0
191,192,15,3,nike,123,1,0,0,0,0,0,0,1,0,0
192,193,33,6,ford,112,1,0,0,1,0,0,0,0,0,0
193,194,39,3,addidas,72,0,1,0,0,0,0,1,0,0,0
194,195,17,4,motorola,98,0,1,0,0,0,0,0,0,1,0
195,196,15,1,apple,58,1,0,0,0,0,1,0,0,0,0
196,197,47,5,xiaomi,20,1,0,0,0,0,1,0,0,0,0
197,198,46,6,toyota,133,1,0,0,1,0,0,0,0,0,0
198,199,41,6,kenneth_cole,9,1,0,0,0,0,0,1,0,0,0
199,200,19,1,calvin_klein,92,1,0,0,0,1,0,0,0,0,0

In [207]:
# Ad Data Generation

# Simulating a pandas dataframe for the ads and the charateristics of the ad

def simulate_ad_data(min_age, max_age, dict_items_brands, n = 20):
    # Unique ad_id 
    list_id = [i for i in range(1, n + 1)]
    
    list_creativity_score = np.random.randint(1, 5, n)
    list_reservation_price = np.random.randint(0.5, 10, n)
    list_ad_type = np.random.choice(["T", "A", "V"], n, p = [0.7, 0.2, 0.1])
    list_have_link_embedded = np.random.choice(["Y", "N"], n, p = [0.7, 0.3])
    
    # Target user attributes
    list_last_purchase_item = np.random.choice(list(dict_items_brands), n)
    list_age = np.random.randint(min_age, max_age, n)
    list_gender = np.random.choice(["M", "F"], n, p = [0.4, 0.6])
    list_last_purchase = np.random.randint(1, 7, n)
    list_time_spent_on_browsing = np.random.randint(3, 180, n)
    
    # Create the dataframe
    ad_df = pd.DataFrame(list(zip(list_id, 
                                   list_creativity_score,
                                   list_reservation_price,
                                   list_ad_type, 
                                   list_have_link_embedded, 
                                  list_last_purchase_item, 
                                  list_age,
                                  list_gender,
                                  list_last_purchase,
                                  list_time_spent_on_browsing
                                   )), 
                          columns = ["ad_id", 
                                     "creativity_score", 
                                     "reservation_prc", 
                                     "ad_type",
                                     "link_bool", 
                                    "last_purchase_item", 
                                    "age", 
                                    "gender",
                                    "last_purchase_day",
                                    "average_time_spent_on_browsing"
                                    ])
    return ad_df
    
ad_df = simulate_ad_data(15, 50, dict_items_brands, n = 100)

# To encode the categorical variables
features_to_encode = ['gender', 'last_purchase_item']
ad_df_one_hot = ad_df
for feature in features_to_encode:
    ad_df_one_hot = encode_and_bind(ad_df_one_hot, feature)
ad_df

,ad_id,creativity_score,reservation_prc,ad_type,link_bool,last_purchase_item,age,gender,last_purchase_day,average_time_spent_on_browsing
0,1,4,4,T,N,tablets,15,M,4,131
1,2,4,8,T,Y,car,24,F,6,158
2,3,2,8,T,N,clothing,36,M,4,101
3,4,1,5,T,Y,car,30,F,5,69
4,5,3,3,A,Y,mobile_phones,40,F,6,33
5,6,2,3,T,N,accessories,20,F,5,102
6,7,4,2,T,Y,car,20,F,1,146
7,8,2,1,T,Y,clothing,18,M,4,75
8,9,1,5,T,Y,car,49,F,2,14
9,10,4,0,T,Y,watches,25,F,4,39
10,11,4,2,T,N,shoes,47,F,1,14
11,12,2,1,A,N,sports,43,M,3,172
12,13,1,4,T,N,mobile_phones,39,M,4,179
13,14,2,8,T,N,car,21,F,6,7
14,15,3,0,V,Y,sports,48,F,3,149
15,16,2,5,T,Y,tablets,36,M,2,79
16,17,1,8,A,Y,clothing,44,F,1,73
17,18,3,4,A,Y,shoes,24,F,3,68
18,19,4,1,T,N,tablets,38,M,5,81
19,20,2,8,V,Y,sports,31,M,5,61
20,21,4,7,T,N,sports,33,M,6,25
21,22,1,1,A,N,accessories,41,M,2,109
22,23,1,4,T,Y,watches,24,M,1,94
23,24,1,2,T,N,sports,30,M,2,97
24,25,4,5,T,N,sports,43,M,5,82
25,26,3,7,T,Y,car,22,F,3,74
26,27,4,8,T,Y,car,38,F,4,90
27,28,4,9,T,Y,watches,19,F,2,123
28,29,2,4,T,N,clothing,26,F,4,146
29,30,4,4,T,Y,sports,25,F,6,108
...,...,...,...,...,...,...,...,...,...,...
70,71,3,5,T,N,mobile_phones,32,M,6,124
71,72,2,7,A,Y,sports,43,M,4,132
72,73,2,1,A,N,sports,34,M,6,29
73,74,2,7,T,Y,clothing,23,F,1,130
74,75,2,1,A,Y,watches,20,M,1,41
75,76,1,6,T,Y,clothing,36,F,6,4
76,77,2,2,T,Y,sports,21,F,4,17
77,78,1,0,V,Y,watches,21,F,3,133
78,79,2,4,A,N,accessories,48,M,1,3
79,80,1,8,T,N,sports,27,M,2,179
80,81,3,5,V,Y,tablets,16,M,2,29
81,82,2,5,T,Y,sports,32,F,6,14
82,83,1,4,T,Y,watches,34,M,2,17
83,84,1,4,T,Y,sports,35,F,4,52
84,85,2,6,T,Y,clothing,17,M,3,155
85,86,2,6,V,Y,accessories,31,F,2,98
86,87,3,9,A,Y,sports,46,F,5,122
87,88,3,2,V,Y,sports,33,F,1,152
88,89,1,8,A,Y,mobile_phones,33,M,1,150
89,90,1,9,V,Y,sports,17,F,2,13
90,91,3,3,T,Y,accessories,36,F,1,119
91,92,4,0,T,Y,watches,28,F,4,145
92,93,4,5,A,N,accessories,31,M,2,155
93,94,3,3,T,Y,clothing,45,F,2,127
94,95,4,4,V,Y,shoes,19,F,3,157
95,96,1,9,T,Y,mobile_phones,49,F,5,79
96,97,2,3,T,N,car,15,F,4,123
97,98,2,9,T,Y,mobile_phones,31,M,1,76
98,99,1,2,T,Y,sports,47,F,3,147
99,100,2,4,T,Y,accessories,40,F,6,33

In [176]:
user_data_for_similarity = pd.concat([user_df_one_hot[["age", 
                                                       "last_purchase_day",
                                                       "average_time_spent_on_browsing"]], 
                                      user_df_one_hot.iloc[:, 5: user_df_one_hot.shape[1]]
                                     ], axis = 1)
                                      

#print(user_data_for_similarity)

#print(ad_data_for_similarity)
offering_price = np.asscalar(np.random.randint(0.5, 10, 1))
eligible_ads = ad_df_one_hot[ad_df_one_hot["reservation_prc"] <= offering_price]
print(eligible_ads.shape)
# empty_list 
ad_user_pair = pd.DataFrame()
# Iterate over all the ads and see which user is the best user for that add
for index, row in eligible_ads.iterrows():
    #row = pd.DataFrame(row)
    #print(type(row))
    ad_data_for_similarity = row.iloc[5:18]
    #print(ad_data_for_similarity)
    #print(ad_data_for_similarity.shape)
    counter = 0

    #print(ad_data_for_similarity)
    for index2, row2 in user_data_for_similarity.iterrows():
        #print(np.array(row2))
        #print(np.array(ad_data_for_similarity))
        a = np.vstack((row2, ad_data_for_similarity))
        #print(a.shape)
        cosine_similarity_value = cosine_similarity(a)
        #print(np.stack(np.array(ad_data_for_similarity), np.array(row2)))
        cosine_similarity_value = cosine_similarity_value[0, 1]
        #print((cosine_similarity_value))
        if (cosine_similarity_value > counter):
            counter = cosine_similarity_value
            matched_user_index = index2
        else:
            pass
    merged_df = pd.DataFrame(pd.concat((ad_df.loc[index], user_df.loc[matched_user_index]))).T
    print((merged_df.shape))
    
    #print(ad_user_pair.shape)
    ad_user_pair = pd.concat((ad_user_pair, merged_df))

    #print(type(ad_data_for_similarity))

/Users/diptendrabagchi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: DeprecationWarning: np.asscalar(a) is deprecated since NumPy v1.16, use a.item() instead
  # This is added back by InteractiveShellApp.init_path()

(50, 18)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)
(1, 17)

In [177]:
ad_user_pair

,ad_id,creativity_score,reservation_prc,ad_type,link_bool,last_purchase_item,age,gender,last_purchase_day,average_time_spent_on_browsing,user_id,age,gender,last_purchase_day,last_purchase_item,brand_preference,average_time_spent_on_browsing
0,1,4,3,T,N,clothing,41,F,1,66,96,49,M,1,accessories,atheleisure,77
0,2,1,0,T,Y,mobile_phones,28,F,5,53,50,43,F,5,watches,omega,78
0,7,4,0,A,N,tablets,15,F,3,65,84,21,M,5,tablets,motorola,91
0,8,4,3,T,N,tablets,48,M,6,176,83,27,M,4,tablets,samsung,98
0,11,4,2,A,Y,watches,35,F,1,60,44,34,F,2,tablets,fire,60
0,12,3,3,A,Y,clothing,15,M,1,142,122,17,M,2,mobile_phones,samsung,166
0,15,4,3,T,Y,accessories,47,F,5,52,81,43,F,4,shoes,corcs,45
0,16,1,0,T,Y,tablets,16,F,4,165,159,17,F,4,shoes,under_armour,174
0,17,3,2,A,N,shoes,18,M,6,23,165,35,F,6,tablets,apple,43
0,20,4,3,T,Y,clothing,35,M,2,95,38,45,M,2,tablets,fire,125
0,21,4,0,T,Y,clothing,29,F,2,61,119,46,F,2,car,mercedes,94
0,22,3,2,V,Y,accessories,29,M,5,57,20,41,M,5,accessories,addidas,78
0,23,4,3,V,Y,shoes,35,M,3,108,154,47,M,5,tablets,samsung,148
0,25,3,2,T,N,tablets,27,F,6,81,128,37,F,6,accessories,atheleisure,111
0,26,3,3,T,Y,shoes,16,F,2,4,199,41,F,6,shoes,kenneth_cole,9
0,27,4,1,A,Y,mobile_phones,22,M,6,91,175,26,F,6,mobile_phones,apple,107
0,28,4,0,A,Y,car,29,M,3,115,105,42,M,5,mobile_phones,samsung,168
0,30,4,3,A,Y,watches,17,M,1,177,122,17,M,2,mobile_phones,samsung,166
0,34,2,1,A,N,sports,33,M,5,113,193,33,F,6,car,ford,112
0,35,3,1,A,Y,car,15,M,4,67,84,21,M,5,tablets,motorola,91
0,36,2,2,T,Y,watches,34,F,6,92,135,44,F,6,accessories,atheleisure,122
0,37,4,2,T,Y,sports,39,M,2,125,171,37,M,2,sports,addidas,114
0,39,3,3,V,Y,car,24,M,2,85,133,22,M,1,car,mercedes,80
0,40,2,2,T,N,accessories,15,F,3,84,27,29,F,6,accessories,addidas,154
0,41,2,0,T,Y,watches,27,F,4,109,3,38,F,5,car,ford,156
0,43,4,1,A,N,mobile_phones,46,M,2,68,37,38,F,3,mobile_phones,motorola,56
0,45,4,1,T,Y,accessories,34,F,6,89,188,31,F,4,accessories,atheleisure,84
0,47,3,2,A,Y,shoes,42,F,6,21,28,33,F,5,tablets,apple,18
0,48,4,0,T,Y,car,33,M,3,103,154,47,M,5,tablets,samsung,148
0,51,2,3,T,N,accessories,41,F,2,50,11,33,F,1,watches,rolex,41
0,52,4,3,T,Y,accessories,38,F,2,70,44,34,F,2,tablets,fire,60
0,55,1,2,T,Y,accessories,48,F,1,108,29,47,F,1,clothing,gucci,110
0,56,2,1,T,Y,accessories,22,F,5,26,165,35,F,6,tablets,apple,43
0,58,2,3,T,Y,sports,35,F,2,19,148,36,F,1,mobile_phones,samsung,18
0,60,3,1,T,Y,car,36,F,5,117,124,40,F,6,car,mercedes,126
0,61,2,3,T,Y,accessories,20,F,2,150,70,22,F,1,sports,nike,156
0,64,2,3,A,N,tablets,45,F,3,29,125,22,F,1,clothing,nike,13
0,65,3,3,T,Y,car,17,F,4,8,139,27,F,4,tablets,samsung,11
0,67,4,1,T,Y,watches,39,M,3,36,168,40,M,1,sports,addidas,37
0,68,1,2,T,Y,sports,16,M,4,147,137,18,M,4,sports,addidas,171
0,78,4,2,V,Y,shoes,44,F,6,103,116,33,F,6,shoes,nike,76
0,79,3,0,A,Y,tablets,25,M,2,159,1,26,M,2,mobile_phones,xiaomi,170
0,81,3,3,T,Y,accessories,30,F,5,24,178,36,F,5,accessories,addidas,27
0,82,2,2,A,Y,clothing,22,F,2,103,52,17,F,1,clothing,calvin_klein,80
0,83,1,2,T,N,mobile_phones,40,F,1,3,8,43,F,1,sports,puma,8
0,86,4,1,T,Y,accessories,37,M,6,122,193,33,F,6,car,ford,112
0,88,2,0,A,N,shoes,47,F,6,40,45,38,M,5,clothing,calvin_klein,33
0,90,2,0,A,Y,watches,24,F,4,21,45,38,M,5,clothing,calvin_klein,33
0,94,3,3,T,Y,clothing,15,M,2,24,174,33,M,6,car,toyota,53
0,100,2,0,T,Y,accessories,46,F,3,116,142,45,F,4,sports,addidas,112

In [203]:
a = ad_user_pair["last_purchase_day"]
b = (a.iloc[:, 0] == a.iloc[:, 1])

In [204]:
b.value_counts().loc[True]/len(b)

0.4

In [200]:
len(b)

50

In [ ]:
last_purchase_day

## Steps in the Alogrithm 

1. Pick an offering price.
2. Based on the offering price, choose all the ads whose reservation price is less than the offering price
3. Go through each one of the ads and find the best/optimal user. 
4. Find the best user using a cosine similarity between the target audience of the ad and the user data who has landed up on a webpage.
5. Now, we have the final dataframe that gives me the best target user for each ad. 
6. Repeat steps from 1 - 5 for different prices to mimic the behaviour of the adExchange.

## To Do List
1. UML Class Diagram
2. Implement the same code in the OOP concepts
3. Upload it on the github and add Prof. Charles

In [ ]:
# Object Oriented 
# The code below is being taken from 
# https://stackoverflow.com/questions/46466588/generating-random-number-for-class-attribute
# Class creation
# User Class - It defines a user attributes like age, interest, browsing patter, etc. to mimic the 
# data that we get from cookies
from numpy import random

class Internet_User():

    # An Internet User attributes
    def __init__(self, name, age=None, gender):
        if age is None:
            age = random.randint(15,50)
        self.name = name
        self.age = age
        self.gender = gender

In [205]:
# Ad Supplier Class
hash("abc")

-5128333308206136575

In [206]:
hash("abc")

-5128333308206136575

## Ideas
1. How do we bucket time. How does real advertising works? 
Ans - Include this by sampling the universe 
2. How to inlcude the budget of the ad offering.
3. Data structures and Algorithms - Help needed!!